/* ---------- General  ---------- */ 

html {
  font-size: 10px;
}

body {
  background: url('../img/bg.png');
  color: #444;
  margin: 0;
  padding: 0;   
}

h1, h2, nav {
  font-weight: bold;
  font-family: 'Architects Daughter', sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 0.9;
  margin: 0.5rem;
}

h2 {
  border-bottom: solid 1px rgba(51,102,153,0.3);
  color: #369;
  font-size: 2.8rem;
  margin: 2rem 0 1rem 0;
}

h3 {
  cursor: pointer;
  font-size: 2rem;
  margin: 2rem 0 0.3rem 0;
}

a, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem 0;
}

/* ---------- Header ---------- */ 

header {
  color: #fff;
  padding: 2rem;
}

header span {
  color: #8fbae5;
  font: 2rem 'Architects Daughter', sans-serif;
}

/* ---------- Nav ---------- */ 

nav {
  color: #FFF;
  font: 1.5rem 'Architects Daughter', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

nav ul li {
  background: rgba(255,255,255,0.15);
  border-top: 1px solid rgba(255,255,255,0.3); 
  padding: 0.5rem 2rem;
  margin: 0 0 0 0.3rem;
}

nav a, nav a:hover, nav a:active {
  color: #fff;
}

/* ---------- Main ---------- */ 

main {
  background: #fff;
  padding: 1rem 0 4rem;
  min-height: 50rem;
}


/* ---------- Footer ---------- */ 

footer {
  color: #fff;
  padding: 2rem;
  text-align: right;
}

footer a, footer a:hover, footer a:active {
  color: #fff;
}


/* ---------- Wireframes for Grid Examples ---------- */ 


.wireframe div.row > div {
  background: #69c;
  border: solid 5px #FFF;
  color: #036;
  font: bold 1.6rem "Lato", sans-serif;
  padding: 2rem;
  text-align: center;
}

.wireframe div.pull-left, .wireframe div.pull-right {
  background: #e3b071;
  border: solid 5px #FFF;
  color: #804600;
  font: bold 1.6rem "Lato", sans-serif;
  margin: 0 1rem;
  padding: 2rem;
  text-align: center;
}

.title p {
  color: #666;
  font-style: italic;
  margin: 0 0 2rem 0;
}


/* ---------- Media Queries ---------- */ 


/* -- sm -- */
@media screen and (min-width: 768px) {

h1 {
  font-size: 4.6rem;
}

header span {
  color: #8fbae5;
  font: 3rem 'Architects Daughter', sans-serif;
}

  nav ul {
    width: auto;
  }

  nav ul li {
    display: inline-block;
  }
}

/* -- md -- */
@media screen and (min-width: 992px) {

  nav ul li {
    display: inline-block;
  }
}

/* -- lg -- */
@media screen and (min-width: 1200px) {


}